<!doctype html>
<html>

<head>

  <link rel='stylesheet' href='/css/style.css'>

</head>

<body style="background-image: url(http://68.media.tumblr.com/afa9f51adc12b3f9b61ee537839c5588/tumblr_oov1ytqMlg1vbdodoo1_500.gif);">
    <h1>Hello, {{fullname}}</h1>
    
    <p>
        You have visited this page {{times}} times!
    </p>
    <p>
        <a href={{login_link}}>Log in with ION!</a>
    </p>
    <p>
        Contact {{user}} at {{tj_mail}}
    </p>

    <p>
        <img src= {{picture}}>
    </p>
    <script>
      console.log('something!');
    </script>    
</body>

</html>